---
- hosts: all

  handlers:
  - import_tasks: ../handlers/main.yml

  ####################################################################################
  # Verify and Validate prior to starting execution
  pre_tasks:
  - name: Verify Ansible version.
    assert:
      that: "ansible_version.full is version_compare('2.12', '>=')"
      msg: >
          "You must update Ansible to at least 2.12"

  ####################################################################################
  tasks:

  - name: Install needed packages
    package:
      name:
      - bind-utils
      - firewalld
      - httpd
      - vim
      - bash-completion
      - podman
      - python3-pip
      - nfs-utils
      - git
      - dnsmasq
      state: present

  - name: Install OpenShift Pre-requisites
    pip:
      name:
        - kubernetes
        - openshift

  - name: Copy httpd conf file
    copy:
      src: ../files/httpd.conf
      dest: /etc/httpd/conf/httpd.conf
    notify:
      - restart httpd

  - name: Create Apache directories for installing
    file:
      path: "{{ item }}"
      state: directory
      mode: 0755
    with_items:
      - /var/www/html/ignition

  - name: Start firewalld service
    systemd:
      name: firewalld
      state: started
      enabled: yes

  - name: Open up firewall ports
    firewalld:
      permanent: yes
      immediate: yes
      state: enabled
      port: "{{ item }}"
    run_once: true
    with_items:
      - "{{ ports }}"

  - name: Start dnsmasq service
    systemd:
      name: dnsmasq
      state: started
      enabled: yes

  - name: Systemd daemon reload
    systemd:
      daemon_reload: yes

  - name: Starting services
    service:
      name: "httpd"
      enabled: yes
      state: started

  - name: Delete OCP4 files, if requested, to download again
    file:
      state: absent
      path: "{{ item }}"
    with_items:
      - "/usr/local/src/openshift-client-linux.tar.gz"
      - "/usr/local/src/openshift-install-linux.tar.gz"

  - name: Preparing OCP client
    when: ocp_client is defined
    block:
    - name: Downloading OCP4 client
      get_url:
        url: "{{ ocp_client }}"
        dest: /usr/local/src/openshift-client-linux.tar.gz

    - name: Unarchiving OCP4 client
      unarchive:
        src: /usr/local/src/openshift-client-linux.tar.gz
        dest: /usr/local/bin
        remote_src: yes

  - name: Removing files that are not needed
    file:
      path: /usr/local/bin/README.md
      state: absent

  - name: Restarting NetworkManager
    service:
      name: "{{ item }}"
      state: restarted
    with_items:
      - NetworkManager

  - name: Enable restart always for HTTPD
    block: 
      - name: Create dropin directory for services
        file:
          path: /etc/systemd/system/httpd.service.d
          state: directory
          mode: 0755

      - name: Copy restart conf file to the services dropin directory
        copy:
          src: ../files/restart.conf
          dest: /etc/systemd/system/httpd.service.d/restart.conf

      - name: restart services
        service:
          name: "httpd"
          state: restarted
          daemon_reload: yes
