apiVersion: project.openshift.io/v1
kind: Project
metadata:
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    openshift.io/node-selector: ""
    workload.openshift.io/allowed: management
  labels:
    kubernetes.io/metadata.name: openshift-powervm-rmc
    name: openshift-powervm-rmc
    openshift.io/run-level: ""
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/warn: privileged
    security.openshift.io/scc.podSecurityLabelSync: "false"
  name: openshift-powervm-rmc